
.DS_Store

6510_Project/parameters_prod.json
.idea/
detectron2-e883afb9afe2b5196b7cba7485583a1d063a9991
yolov3.weights
__pycache__/
gaze_tracking/
detectron2-master/

.ipynb_checkpoints/

.vscode/

6510_Project/

face_detector.ipynb

recordings/

parameters_prod.json

archive
doc_images/bonus/

Related works /

DRAFT3-EnterpriseShield.docx
